@page {
    size: letter;
}

body {
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
    font-size: 12px;
}

.titles-style {
    color: #030000;
    font-size: 16px;
    font-weight: bold;
}

.students_table {
    padding-top: 0px;
    width: 100%;
    font-size: 10px;
    color: black;
    font-style: normal;
    border-spacing: 0px;
}

.students_table th {
    background-color: rgb(149, 149, 149);
}

.students_table td {
    background-color: rgb(203, 200, 200);
}

.logo {
    width: 100%;
    height: 70px;
}

td {
    height: 30px;
    font-size: 16px;
}

p {
    font-size: 16px;
}

hr {
    display: block;
    margin: 0.1em auto;
    border-style: inset;
    border-width: 1px;
}

.card {
    background: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}